:root{
  --button-background-color:#0B0E66;
  --button-color:#26C7EA;
  --white-color:#FFFFFF;
  --main-font: Inter;
  --text-color:#0A3853;
}
body {
  font-family: Roboto, sans-serif, Raleway;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  cursor: pointer;
  color: var(--accent-color);
  transition: opacity 0.3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  color: var(--text-color);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.switch-lang {
  display: flex;
  align-items: center;
  width: 150px;
}

.langUA {
  margin-right: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.langEN {
  margin-left: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.switch__container {
  margin: 30px auto;
  width: 120px;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  border: 1px solid #ffffff;
}

.switch--shadow + label {
  padding: 2px;
  width: 120px;
  height: 60px;

  border-radius: 60px;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 6px;
  left: 4px;
  bottom: 6px;
  content: "";
}

.switch--shadow + label:before {
  right: 1px;
  opacity: 0;
  border-radius: 60px;
  transition: background 0.4s;
}

.switch--shadow + label:after {
  width: 40px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
  background-color: #8ce196;
}

.switch--shadow:checked + label:after {
  transform: translateX(20px);
}
  .name{
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
    
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  }
.button{
    width: 260px;
    height: 80px;
    border-top-left-radius:25%;
    border-bottom-right-radius:25%;
    background-color: var(--button-background-color);
    color: var(--button-color);
  }
.ukr-text{
  width: 376px;
  height: 125px;
  margin-left: 165px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color:#FFFFFF;
}
.hero{
  color:var(--white-color);
  
  background: linear-gradient(90deg, #36526A 5.74%, rgba(55, 107, 151, 0) 93.38%);
  
}
.hero {
  background-image: url(./assets/img/Rectangle1\(1\)\(2\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.logo{
  width: 258.9px;
  height: 100px;
  
}
.a-logo{
  margin-right: 642px;
}
.div-logo{
  margin-bottom:150px;
  /* margin-top: 25px; */
  margin-left: 165px;
}
.eng-text{
  
  width: 298px;
  height: 96px;
  margin-bottom: 10px;
  margin-left: 165px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color:#FFFFFF;
}

@font-face {
  font-family:'HeadlandOne';
  src: url(./assets/fonts/HeadlandOne-Regular.ttf);
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family:'HammersmithOne' ;
  src: url(./assets/fonts/HammersmithOne-Regular.ttf);
}
.trailer{
  background-image: url(./assets/img/Rectangle10\(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
height: 700px;
}
/*.learning{
  background-image: url(./assets/img/Rectangle20\(2\).jpg);
  
  height: 664px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/
.blur{
  background: linear-gradient(90deg, #36526A 5.74%, rgba(55, 107, 151, 0) 93.38%);
 
}
.avatar {
  position: absolute;
  left: 625px;
  top: 126px;
}
.svg{
  fill: white;
  width: 30px;
  height: 30px;
  display:block;
}
.hero-text{
  display: flex;
}
.hero-svg{
  text-align: right;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  margin-left: 705px;
}
.stick1{
  margin-bottom: 10px;
  margin-left: 220px;
}
.click{
  position: absolute;
  left: 1112px;
  top: 24px;
}
.button1{
  margin-bottom: 45px;
  margin-left: 165px;
}
.language {
  background-image: url(./assets/img/Rectangle20\(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  
  height: 664px;

  padding-top: 32px;
  padding-bottom: 40px;
}
.language-box {
  margin-left: 164px;
  margin-right: 162px;
}

.language-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.language-list__item {
  width: 320px;

  padding: 36px 0;

  background-color: rgba(255, 255, 255, 0.7);
}

.language-list__item:not(:nth-child(3n + 3)) {
  margin-right: 35px;
}
.language-list__item:nth-child(-n + 3) {
  margin-bottom: 30px;
}
.text1{
  margin: 0 auto 40px auto;

  font-family: "HeadlandOne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #141414;
}

.img {
  width: 152px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.text {
  margin: 0 auto;

  font-family: "HeadlandOne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #000000;
}
.citata1{
  display: flex;
  align-items: center;
  flex-direction: column
}

.citata{
  display: flex;
  align-items: center;
  flex-direction: column
}
.button-trailer{

    margin: 310px 550px 310px 550px;
}
.footer{
  
height: 268px;
}
.footer{
  background-image: url(./assets/img/Rectangle12.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.text-citata{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
 width: 1000px;
 height: 40px;
 color:var(--text-color)
}
.avtor-citata{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} 

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 600px;
  height: 400px;

  background-image: url(./assets/img/Rectangle51.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal-close {
  display: block;
  margin-left: 570px;
  margin-top: 10px;
  margin-right: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  margin-bottom: 80px;
}

.icon-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: #0b0e66;
}

.icon-close:hover,
:active {
  fill: red;
}

.form {
  padding-left: 80px;
  padding-right: 80px;
}

.input-container {
  margin-bottom: 35px;
}

.form-label:not(:last-child) {
  margin-bottom: 30px;
}

.label-text {
  width: 42px;
  height: 29px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  text-align: justify;

  color: #0b0e66;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 440px;
  height: 40px;
  display: block;

  padding-left: 10px;
  padding-right: 30px;

  background-color: #ffffff;
  border: 2px solid #0b0e66;
}

.form-input:focus {
  border: 2px solid #0b0e66;
}

.envelop {
  position: absolute;
  right: 14px;
  top: 33px;
  width: 15px;
  height: 19px;
  fill: #0b0e66;
}

.modal-button {
  width: 260px;
  height: 80px;
  display: block;
  margin: 0 auto;

  background-color: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0px;
}

.button__text {
  display: inline-block;
  width: 199px;

  font-family: 'HeadlandOne';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #26c7ea;
}
.citata{
  margin: 0 auto;
}
.text11{
  width: 724px;
  height: 44px;
}
.text12{
  width: 1002px;
  height: 44px;
}
.text21{
  width: 886px;
  height: 44px;
}
.text22{
  width: 528px;
  height: 44px;
}
.text31{
  width: 938px;
  height: 44px;
}
.text32{
  width: 812px;
  height: 44px;
}
.img36{
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.switch-shadow{
  width: 36px;
height: 20px;
}
.svg:not(last-child){
  margin-bottom: 25px;
}
.switch--shadow + label{
  width: 36px;
height: 20px;
}
.switch--shadow + label:after {
  width: 12px;
height: 12px;
}
.angel-citata{
  margin-bottom: 10px;
}
.ukr-p{
  color:#FFFFFF;
}
.eng-p{
  color:#FFFFFF;
}
.div-logo{
  display: flex;
}

.blur{
  padding-top: 25px;
  padding-bottom: 45px;
}
.language_heading{
  text-align: center;
  font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
margin-bottom: 45px;
}
.language-box{
  
}